<div class="about d-flex bottom-border">
    <div class="portrait-img">
        <img src="images/portrait.jpg" alt="portrait-img">
    </div>
    
    <div class="details m-auto">
        
    <h1 class="my-3">AMIT GUPTA</h1>
        <div class="card card-position mb-4" style="width: 25rem;">
            <div class="card-body card-body-color">
              <h5 class="card-title">Qualifications</h5>
              <ul>
                  <li>10th 73% Marks</li>
                  <li>12th 85% Marks</li>
                  <li>Graduation Maths 73% Marks</li>
                  <li>Search Engine Optimization</li>
                  <li>Web Developer</li>
                  <li>Design - AdobeXD</li>
              </ul>
            </div>
          </div>
          <div class="card card-position mb-4" style="width: 25rem;">
            <div class="card-body card-body-color">
              <h5 class="card-title">Life Vision</h5>
              <ul>
                <li>Make useful websites for clients</li>
                <li>Be Good person, everyone's close friend😀</li>
                <li>Read lots of books and motivate peoples to read and a website for this also</li>
                <li>Be Adobe softwares fan.</li>
            </ul>
            </div>
          </div>
          <div class="card card-position mb-4" style="width: 25rem;">
            <div class="card-body card-body-color">
              <h5 class="card-title">Tech I use</h5>
              <ul>
                <li>Code Editor - Vim & VsCode(Radical theme)</li>
                <li>Laptop - Asus Vivobook</li>
                <li>Designing & Prototyping - Adobe Xd</li>
            </ul>
            </div>
          </div>
    </div>
</div>