
<!-- Contact page -->

<div id="contact" class="d-flex flex-row dark-bg text-center flex-50 text-color bottom-border">
    <div id="contact-box">
        <h1 class="mb-3">CONTACT ME</h1>
        <div class="input-from skill-border">
            <form action="/" method="POST">
                <input type="text" name="fName" placeholder="First Name" class="p-1 m-3" required>  
                <input type="text" name="lName" placeholder="Last Name" class="p-1 m-3" required> <br> 
                <input type="email" name="email" placeholder="Email" class="p-1 m-3 input-email" required><br>
                <textarea name="msg" name="msg" id="msg" class="p-1 m-3" cols="30" rows="6" required>Your Message</textarea> <br> 
                <div class="d-grid col-8 mx-auto">
                    <button type="submit" class="button btn btn-success btn-lg">SEND</button>
                </div>
        </form>
        </div>
    </div>
    <div id="hire-me">
        <h1>WHY YOU SHOULD <br>HIRE ME?</h1>
        <div class="hire-reason mt-5">
            <ul m-auto>
                <li>Low Cost Complete Web dev - designing to deployment</li>
                <li>User Friendly Conversation to understand your project</li>
                <li>I am Full stack developer with MERN stack</li>
            </ul>
        </div>
        
    </div>
</div>