<div class="text-center dark-bg bottom-border p-5 ">
    <h1 class="text-color pb-5 my-3">Oops! Something went wrong<br> Please Try Again</h1>
    <form action="/#contact" method="GET">
    <div class="d-grid col-8 mx-auto pt-3">
        <button type="submit" class="button btn btn-success btn-lg">TRY AGAIN</button>
    </div>
</form>
</div>