      

<footer class="dark-bg text-color center bottom-border">
      <div class="media-icon py-4">
            <a href="https://github.com/amit-gupta-16?tab=repositories" target="_blank"><i class="fab fa-github icon-2X"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100016536821176" target="_blank"><i class="fab fa-facebook-f icon-2X"></i></a>
            <a href="https://www.instagram.com/imamit1604/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>

      <span class="mb-2">Made with <i class="fas fa-heart"></i> By <code>Amit Gupta</code> </span>
      <% const year = new Date().getFullYear() %>
      <span class="pb-3">&copy;Amit Gupta <%= year %></span>
</footer>
  
  



      <!-- script files to function bootstrap -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>