
<!-- main header  -->

<div id="main-header" class="d-flex flex-box flex-row flex-wrap dark-bg bottom-border">
    <div class="center head-content justify-content-center flex-item fl-item">
        <h1 class="text-color">AMIT</h1>
        <p class="text-color">WEB DEVELOPER</p>
        <div class="d-grid col-4 mx-auto">
            <a type="button" href="/about" class="button btn btn-success btn-lg">ABOUT ME</a>
        </div>
        <span class="text-muted text-color">In Detail?</span>
    </div>
    <div class="flex-item fl-item justify-content-end">
        <img src="images/avatar.png" alt="avatar-img"></div>
  </div>
