<div id="projects" class="dark-bg text-color p-3 bottom-border">
    <h1 class="text-center pt-3">Projects</h1>
    <div class="d-flex flex-wrap">
        <div class="py-4 px-4 mx-auto flex-wrap">
            <div class="card projects-card dark-bg border-four-side" style="width: 18rem;">
                <img src="images/newsletter.png" alt="project-1-image">
                <div class="card-body">
                    <h3 class="card-title">Newsletter SignUp</h3>
                    <p class="card-text">This page simply takes user details and save them.. And admin can send Email and can do email-marketing baed on that data.</p>
                    <a href="/newsletter-project" class="button btn btn-success">Explore</a>
                </div>
            </div>
        </div>
        <div class="py-4 px-4 mx-auto flex-wrap">
            <div class="card projects-card dark-bg border-four-side" style="width: 18rem;">
                <img src="images/blogwebsite.png" alt="project-1-image">
                <div class="card-body">
                    <h3 class="card-title">Blog Website</h3>
                    <p class="card-text">This is a full-fledged blog website.You can write your blog posts in it. Pretty about and contact pages also added.Checkout it.</p>
                    <a href="/blog-project" class="button btn btn-success">Explore</a>
                </div>
            </div>
        </div>
        <div class="py-4 px-4 mx-auto flex-wrap">
            <div class="card projects-card dark-bg border-four-side" style="width: 18rem;">
                <img src="images/login.png" alt="project-1-image">
                <div class="card-body">
                    <h3 class="card-title">Login Pages</h3>
                    <p class="card-text">This is the authentication page where user can register and login based on credentials. Also added google and facebook login/register feature.</p>
                    <a href="/login-project" class="button btn btn-success">Explore</a>
                </div>
            </div>
        </div>
    </div>
</div>