<div id="skills" class="dark-bg bottom-border">
    <h1 class="text-color center pt-3 pb-3">Skills</h1>
    <div class="d-flex flex-row mb-4">
        <div class="flex-item skills-flex-item skill-border">
            <div class="progress ex-progress-bar">
                <div class="progress-bar progress-bar-striped progress-bar-animated progressbar-bg" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">Html</div>
              </div>
              <div class="progress ex-progress-bar">
                <div class="progress-bar progress-bar-striped progress-bar-animated  progressbar-bg" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">Css & Bootstrap</div>
              </div>
              <div class="progress ex-progress-bar">
                <div class="progress-bar progress-bar-striped progress-bar-animated  progressbar-bg" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">Javascript & Jquery</div>
              </div>
        </div>
    <div class="flex-item skills-flex-item">
        <div class="progress ex-progress-bar">
            <div class="progress-bar progress-bar-striped progress-bar-animated  progressbar-bg" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">NodeJs</div>
          </div>
          <div class="progress ex-progress-bar">
            <div class="progress-bar progress-bar-striped progress-bar-animated  progressbar-bg" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">MongoDB</div>
          </div>
          <div class="progress ex-progress-bar">
            <div class="progress-bar progress-bar-striped progress-bar-animated  progressbar-bg" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">ReactJs</div>
          </div>
    </div>
    </div>
</div>