<div class="text-center dark-bg bottom-border p-5 ">
    <h1 class="text-color pb-5 my-3">Your Message Has Been<br> Successfully Send.</h1>
    <form action="/" method="GET">
    <div class="d-grid col-8 mx-auto pt-3">
        <button type="submit" class="button btn btn-success btn-lg">GO BACK</button>
    </div>
</form>
</div>